<div class="container mt-5">
<h1>DEMOS <small>Angular</small> </h1>
<hr>

<app-ng-style></app-ng-style>

<hr>

<app-css></app-css>

<p> This "p tag" is located in app.component, which is the "parent" component of css.component. Even if we ser the "color:blue !important" to all "p tags" it will not affect its child components. p _ngcontent-ukg-c0=""</p>

<h5> the only way to affect all the components would be to make a color chang in style.css - or importing another css file</h5>

<hr>

<h3> ngClass</h3>

<app-classes></app-classes>

<hr>

<h3> Customized directives </h3>

<p appHighlighted="yellow" > Let's highlight this paragraph with a customized directive, by using its selector as an attribute of this "p tag". <br>
    - Import "ElementRef" from @angular/core into the directive TS to be able to use it in the HTML where we are calling this directive.(and add it to the constructor as well.)
    
    <br><br>EVENT LISTENING: <br>
    - Import "HostListener" from @angular/core into the directive TS - dont inject into the constructor.
    <br><br>
    // listen when the mouse "enters" the element:<br>
    @HostListener('mouseenter') mouseEntro() // mouseEntro() es un ALIAS. <br>
      this._elementRef.nativeElement.style.backgroundColor = 'yellow'; <br><br>
    
    
</p>

</div>