<div class="container mt-5">
<h1>DEMOS <small>Angular</small> </h1>
<hr>

<app-ng-style></app-ng-style>

<hr>

<app-css></app-css>

<p> This "p tag" is located in app.component, which is the "parent" component of css.component. Even if we ser the "color:blue !important" to all "p tags" it will not affect its child components. p _ngcontent-ukg-c0=""</p>

<h5> the only way to affect all the components would be to make a color chang in style.css - or importing another css file</h5>

<hr>

<h3> ngClass</h3>

<app-classes></app-classes>

</div>